name: Deploy Static Sketch

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  NODE_VERSION: 20

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install Cargo
        uses: baptiste0928/cargo-install@v3.1.1
        with:
          crate: wit-deps-cli

      - name: Setup Deno
        # uses: denoland/setup-deno@v1
        uses: denoland/setup-deno@61fe2df320078202e33d7d5ad347e7dcfa0e8f31  # v1.1.2
        with:
          deno-version: v1.x

      - name: Install deps
        run: |
          cd typescript/packages
          npm install

      - name: Build lookslike
        run: |
          cd typescript/packages/lookslike-high-level
          npm ci
          npm run build

      - name: 'GCP Auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_KEY }}'
          project_id: ${{ secrets.GCS_PROJECT }}

      - name: 'Set up GCloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Deploy
        run: |-
          cd typescript/packages/lookslike-high-level
          gsutil cp dist/assets/* gs://$GCS_BUCKET/assets/
          gsutil cp dist/index.html gs://$GCS_BUCKET/
